<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .task {
        border: black 1px solid;
    }

</style>

<body>
<div class="wrapper">
    <div class="todo">
        <h2>К исполнению</h2>
        <th:block th:each="task : ${toDo}">
            <div class="task">
                <p th:text="${task.getTitle()}"></p>
                <span>Исполнитель: </span><span th:text="${task.getExecutor().getLogin()}"></span>
                <p th:text="${task.comments}"></p>
                <p>Редактировать</p>
                <form method="post" th:action="@{/task/{id}(id = ${task.id})}" th:object="${taskForUpdate}">

                    <label>Исполнитель:
                        <select th:field="*{programmerId}">
                            <th:block th:each="programmer : ${programmers}">
                                <option th:value="${programmer.id}" th:text="${programmer.login}"></option>
                            </th:block>
                        </select>
                    </label><br>

                    <select th:field="*{taskStatus}">
                        <option value="IN_PROGRESS">В процессе</option>
                        <option value="DONE">Готово</option>
                        <option value="TO_DO">К выполнению</option>
                    </select><br>
                    <textarea th:field="*{comments}"></textarea>
                    <input type="hidden" th:field="*{projectId}">

                    <input type="submit" value="Изменить"/>
                </form>
            </div>
        </th:block>
    </div>


    <div class="in-progress">
        <h2>В процессе</h2>
        <th:block th:each="task : ${inProgress}">
            <div class="task">
                <p th:text="${task.getTitle()}"></p>
                <span>Исполнитель: </span><span th:text="${task.getExecutor().getLogin()}"></span>
                <p th:text="${task.comments}"></p>
                <p>Редактировать</p>
                <form method="post" th:action="@{/task/{id}(id = ${task.id})}" th:object="${taskForUpdate}">

                    <label>Исполнитель:
                        <select th:field="*{programmerId}">
                            <th:block th:each="programmer : ${programmers}">
                                <option th:value="${programmer.id}" th:text="${programmer.login}"></option>
                            </th:block>
                        </select>
                    </label><br>

                    <select th:field="*{taskStatus}">
                        <option value="IN_PROGRESS">В процессе</option>
                        <option value="DONE">Готово</option>
                        <option value="TO_DO">К выполнению</option>
                    </select><br>
                    <textarea th:field="*{comments}"></textarea>
                    <input type="hidden" th:field="*{projectId}">

                    <input type="submit" value="Изменить"/>
                </form>
            </div>
        </th:block>
    </div>


    <div class="done">
        <h2>Готово</h2>
        <th:block th:each="task : ${done}">
            <div class="task"><p th:text="${task.getTitle()}"></p>
                <span>Исполнитель: </span><span th:text="${task.getExecutor().getLogin()}"></span>
                <p th:text="${task.comments}"></p>
                <p>Редактировать</p>
                <form method="post" th:action="@{/task/{id}(id = ${task.id})}" th:object="${taskForUpdate}">

                    <label>Исполнитель:
                        <select th:field="*{programmerId}">
                            <th:block th:each="programmer : ${programmers}">
                                <option th:value="${programmer.id}" th:text="${programmer.login}"></option>
                            </th:block>
                        </select>
                    </label><br>
                    <select th:field="*{taskStatus}">
                        <option value="IN_PROGRESS">В процессе</option>
                        <option value="DONE">Готово</option>
                        <option value="TO_DO">К выполнению</option>
                    </select><br>
                    <textarea th:field="*{comments}"></textarea>
                    <input type="hidden" th:field="*{projectId}">
                    <input type="submit" value="Изменить"/>
                </form>
            </div>
        </th:block>
    </div>
</div>
<form method="post" th:action="@{/task}" th:object="${taskForUpdate}">
    <input type="hidden" th:field="*{projectId}">
    <input type="submit" value="Добавить задачу">
</form>
</body>
</html>